@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MvcTrig</h1>
    <p class="lead">ASP.NET MVC Client Trigging Framework</p>
    <p><a href="https://github.com/dinowang/MvcTrig" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Script-less ViewResult</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">See how &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Integrate with Bootstrap</h2>
        <p></p>
        <p>@Ajax.ActionLink(Html.Encode("See how &raquo;"), "Modal", "Bootstrap", null, new AjaxOptions { }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Integrate with Notification</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Integrate with Fancybox</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Edit", "Fancybox")" data-fancybox="800x600">See how &raquo;</a></p>
    </div>
</div>
